body{
    background-color: blue  ;
}
.containerBox{
    background-color: red;
    margin: 25px 50px 25px 50px;
    padding: 50px 0 50px 0;
    border: solid white 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.containerBox a{
    text-decoration: none;
    color: white;
    margin-bottom: 7px;
    border: dashed blue 2px;
}

table{
    min-width: 1000px;
    padding-left: 25px;
}
thead{
    background-color: blue;
}
table td {
    font-size: 55px;
    padding: 25px;
    text-align: center;
    color: blue;
    text-shadow: 1px 1px orangered;
    cursor: pointer

}
 h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px black;
    color: yellow;
}
h4{
    color: red;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 20px;
}
th{
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    padding-left: 5px;
    padding-right: 5px;
}
/* #citiesOne:hover{
    height: 75px;
    width: 100px;
    font-size: 70px;
} */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(images/ball3point.jpg);
    background-size: cover;
    border: solid 5px white;
  }
  /* Media Queries from bootstrap CSS file */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  