table{
    min-width: 1000px;
    padding-left: 25px;
}
table td {
    font-size: 55px;
    padding: 25px;
    text-align: center;
    color: yellow;

}
 h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px black;
    color: yellow;
}
th{
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    padding-left: 5px;
    padding-right: 5px;
}
/* #citiesOne:hover{
    height: 75px;
    width: 100px;
    font-size: 70px;
} */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;
    border: solid 5px black;
  }
  /* Media Queries from bootstrap CSS file */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  